/* タイトルと記事一覧の余白調整 */
ul#myu-post-archives{
    padding: 0;
    margin-top: 0;
}

/* リストの・を消す */
#myu-post-archives{
    list-style: none;
    padding: 15px 0;
}

/* 項目の感覚を空ける */
#myu-post-archives > li{
    box-sizing: border-box;
    padding: 15px 20px;
    margin: 25px 0;

    background-color: #eeeeee;
    box-shadow: 0 0.03rem 0.06rem rgba(0,0,0,0.1),
    0 0.1rem 0.3rem rgba(0,0,0,0.1);
    transition: 0.3s;

    position: relative;
    z-index: 1;
}

#myu-post-archives > li:hover{
    box-shadow: 0 0.09rem 0.15rem rgba(0,0,0,0.1),
    0 0.5rem 0.9rem rgba(0,0,0,0.1);

    transition: 0.3s;
}

/* リンクの範囲を全体に */
#myu-post-archives > li .myu-post-archive-link{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-indent: -999px;
    z-index: 2;
}

/* カテゴリーのリンクは優先度高め */
.myu-post-archive-category > a{
    position: relative;
    z-index: 3;
}
 
/* flexで2column */
.myu-post-archive-wrapper{
    display: flex;
    flex-direction: row;
}

/* 画像のトリミング */
.myu-post-archive-thumbnail{
    width: 300px;
    height: 300px;
    object-fit: cover;

    margin: 0;
    padding: 0;
}

.myu-post-archive-thumbnail-wrapper{
    margin-right: 30px;
}

/* 記事のタイトル */
h2.myu-post-archive-title{
    margin: 5px 0;
}

/* 日時 */
.myu-post-archive-date{
    margin: 5px 0;
}

/* カテゴリー */
.myu-post-archive-category{
    margin: 5px 0;
}

/* 抜粋 */
.myu-post-archive-excerpt{
    margin-top: 20px;
    margin-bottom: 0px;
}

@media (min-width: 1024px){
    .myu-post-archive-thumbnail{
        width: 250px;
        height: 250px;
        object-fit: cover;
    }
}
/* スマートフォン対応 */
@media (max-width: 768px){
    .myu-post-archive-wrapper{
        flex-direction: column;
    }

    .myu-post-archive-thumbnail{
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .myu-post-archive-info-wrapper{
        margin: 0 10px;
    }
}