/*
MYU Wordpress + The Event Calendar
*/

/* アイコン */
.tribe-block__organizer__details p > i, 
.tribe-block__venue__name i,
.tribe-block__organizer__title i
{
    margin-right: 10px; 
}

/* 主催者 */
.tribe-block__organizer__title > h4{
    margin: 0;
    font-size: 1.5em;
}

/* 主催者と開催場所を並列に */
.tribe-block__organizer__details{
    /* debug */
    background-color: aqua;
    
    margin: 10px 0;
    width: 50%;
}

.tribe-block__venue{
    /* debug */
    background-color: aqua;

    margin: 10px 0;
    width: 50%;
}

/* day, list module */
/* 2カラムにする */
.myu-single-event-infomation-container{
    display: flex;
}

.myu-single-event-detail-container{
    box-sizing: border-box;
}

h2.current-events-head-title{
    box-sizing: border-box;
    background-color: #666666;
    color: #ffffff;

    width: 100%;
    text-align: center;
}

div.myu-single-event{
    background-color: #EEEEEE;

    margin-bottom: 45px;
    padding: 30px;
}

/* イベントのタイトル */ 
div.myu-single-event > h3.myu-single-event-title{
    margin: 5px 0;
}

div.myu-single-event > h3.myu-single-event-title > a{
    font-size: 22px;
    color: #000000;
    transition: 0.2s;
}

div.myu-single-event > h3.myu-single-event-title > a:hover{
    color: #777777;
    transition: 0.2s;
}

/* イベントの場所 */
.myu-single-event-venue-details > p{
    margin-top: 5px;
    margin-bottom: 20px;
}

.myu-single-event-venue-details > p > .fa-map-marker-alt{
    padding-right: 10px; 
}

/* イベントのサムネイル */
.myu-single-event img.myu-single-event-thumbnail{
    width: 350px;
    height: auto;

    margin-right: 45px;
}

/* イベントのCaption */
.myu-single-event-description > p{
    box-sizing: border-box;
    margin-bottom: 25px;
}

/* さらに詳しく */
a.myu-single-event-read-more{
    box-sizing: border-box;

    padding: 7px 20px;
    margin: 20px 0px;

    background-color: #4d4d4d;
    border-radius: 28px;
    color: white;
    border: #4d4d4d 2px solid;
    transition: 0.15s;
}

/* スマートフォン */
@media (max-width: 767px){
    /* 縦並びに */
    .myu-single-event-infomation-container{
        flex-direction: column;
    }
    /* 余白なし */
    .myu-single-event img.myu-single-event-thumbnail{
        margin: 0;
    }
    /* サムネイルは横いっぱいに */
    .myu-single-event img.myu-single-event-thumbnail{
        width: 100%;
        height: auto;
    }
}

/* ナビゲーション */
.myu-events-sub-nav{
    list-style: none;
    padding: 0;

    display: flex;
    justify-content: space-between;
}

/* アイコン */
.myu-events-nav-previous > a > .fa-arrow-left{
    padding-right: 15px; 
}

.myu-events-nav-next > a > .fa-arrow-right{
    padding-left: 15px; 
}

ul.myu-events-sub-nav > li > a{
    font-size: 18px;
    color: #000000;
    transition: 0.2s;
}

ul.myu-events-sub-nav > li > a:hover{
    color: #777777;
    transition: 0.2s;
}

/* イベント単体のページ */
#myu-events-content img.myu-single-event-thumbnail{
    box-sizing: border-box;

    width: 100%;
    height: auto;

    padding-right: 45px;
}

/* 2カラム */
.myu-single-event-post{
    display: flex;
    flex-direction: row;

    margin-bottom: 25px;
}

/* アイコンの余白 */
.myu-single-event-content-container i{
    margin-right: 15px; 
}

/* イベントの期間 */
.myu-events-schedule > h2.myu-events-schedule-datetime{
    margin: 5px 0;
}

/* イベントの詳細 */
.myu-single-event-content-container > p{
    margin-bottom: 30px;
}

.myu-block-organizer-container,
.myu-block-venue,
.myu-block-event-website{
    box-sizing: border-box;
    width: 50%;
    padding-right: 25px;
}

/* 
1emで各項目の頭を下げる。
*/
/* 主催者 */
.myu-block-organizer-container{
    float: left;

    margin-bottom: 25px;
}

.myu-block-organizer-title > h3{
    margin-top: 0;
    margin-bottom: 10px;
}

.myu-block-organizer-title > h4{
    margin: 0;
    margin-left: 1em;
}

.myu-block-organizer-container > p{
    margin: 0;
    margin-left: 1em;
}


/* 場所 */
.myu-block-venue{
    /* width: 50%; */
    float: left;
}

.myu-block-venue-title{
    margin-top: 0;
    margin-bottom: 10px;
}

.myu-block-venue-name > p{
    margin: 0;
    margin-left: 1em;
}

/* Webサイト */
.myu-block-event-website > h3{
    margin-top: 0;
    margin-bottom: 10px;
}

.myu-block-event-website > a{
    margin-left: 1em;
}

@media (max-width: 1024px){
    .myu-events-single-event-title{
        padding-left: 10px;
    }

    .myu-single-event-post{
        flex-direction: column;
        padding: 10px;
    }

    #myu-events-content img.myu-single-event-thumbnail{
        padding: 0;
    }
}
/* スマートフォン */
@media (max-width: 767px){
    
}

/* イベントナビゲーションは消す */
#myu-events-footer > .myu-events-visuallyhidden{
    display: none;
}

/* フッターのセパレーター */
#myu-events-footer{
    padding-top: 25px;

    border-top: #999999 solid 1px;
}

/* ナビゲーションの下線は消す */
.myu-events-sub-nav a{
    text-decoration: none;
}